<!DOCTYPE html>
<html lang="en">
<head>
               <script src="/js/app.js"></script>

   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content"> <p>{{title}}</p>
    {{>header}}
    <p>{{errorMessage}}</p></div>
   
    {{>footer}}
</body>
</html>