<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
           <script src="/js/app.js"></script>

        <body>
                  <div class="main-content">      {{>header}}

            <h1>{{title}}</h1>
            <img class="protrait" src="https://i.pinimg.com/236x/ee/0e/70/ee0e70b2ae91f7209f3a78247986e280--disney-princes-disney-cruiseplan.jpg" alt="">
       <h2>{{nam}}</h2></div>
       {{>footer}}
        </body>
    </head>
</html>